<h1>Usuários Cadastrados</h1>
<div class="container">
  <ul class="listUsers">
    {{#each users}}
      <li>
        <h2>{{this.name}}</h2>
        <p>{{this.occupation}}</p>
        <div class="actions">
          <a href="/users/{{this.id}}" class="details-btn">More Detalhes</a>
          <a href="/users/edit/{{this.id}}" class="edit-btn">Edit</a>
          <form action="/users/delete/{{this.id}}" method="post">
            <input type="submit" value="Delete" class="delete-btn" />
          </form>
        </div>
      </li>
    {{/each}}
  </ul>
</div>